#map {
				height: 700px;
				border: 1px solid #ccc;
}

h1 {
	position: absolute;
	margin-top: 0;
	top: 55px;
	left: 9px;
	font-size: 2em;
	font-family: "Lora", serif;
	letter-spacing: .04em;
	padding: 10px 15px;
	background: rgba(256, 256, 256, .4);
	border: 1px solid grey;
	border-radius: 3px;
	z-index: 800;
}

h2 {
	font-family: "Lora", serif;
	letter-spacing: .04em;
}

p {
		font-size: .9em;
		line-height: 1.5em;
	}

info {
		position: absolute;
		bottom: 0;
		left: 10px;
		width: 280px;
		margin: 20px auto;
		padding: 0 15px;
		background: rgba(256, 256, 256, .4);
		border: 1px solid grey;
		border-radius: 3px;
		z-index: 800;
	}

#progress {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 400px;
    top: 300px;
    width: 200px;
    height: 20px;
    margin-top: -20px;
    margin-left: -100px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 2px;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #76A6FC;
    border-radius: 4px;
}

#content {
  text-align: center;
}
